* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-image: url(./imagenes/fondo-codigo.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


/* HEADER */

header{
    width: 100%;
    height: 300px;
    background-image: url(./imagenes/fondo-metal.jpg);
    margin-bottom: 60px;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.contenedor-foto-perfil {
    display: flex;
    height: 300px;
    justify-content: flex-end;
    align-items: center;
}

.contenedor-titulo {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-logos-header {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.logos-header {
    position: absolute;
    left: 100px;
}

.foto-perfil{
    height: 170px ;
    border-radius: 100%;
}

.nombre{
    color: #FFFFFF;
}

.titulo{
    color: #FFFFFF;
    font-size: 20px;
}










/* SECCION DATOS */

.card-title {
    text-decoration: underline;
}

.espacio {
    margin-left: 15px !important;
}

.card-header {
    background-color: #FFED99 !important;
}

.seccion-datos{
  width: 100%;
  height: 300px;
}

.contenedor-logos-centrales {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contenedor-logos-centrales div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 100px;
}

.blockquote-footer::before {
    content: '' !important;
}

.card-body p {
    font-size: 16px;
}

.seccion-formacion{
    width: 100%;
    height: 320px;
    
    
}

.seccion-extras{
    width: 100%;
    margin-top: 75px;
    
}

.seccion-laboral{
    width: 100%;
}

.div-formacion {
    height: 475px !important;
}

.border-container {
    margin-bottom: 15px;
}

.section-cursos ,.contenedor-conocimientos, .contenedor-trabajo {
    margin: auto;
    margin-bottom: 15px;
}

.contenedor-trabajo {
    margin-top: 15px;
}

.info-trabajo p {
    font-size: 14px;
    font-weight: 700;

}

.info-trabajo p strong {
    font-size: 14px;
    font-weight: 400;

}

.fortalezas {
    font-size: 16px;
    font-weight: 600;
}

.info-trabajo span {
     font-size: 14px;
    font-weight: 400;
    font-style: italic;
}

/* LOGOS */
.logo-react {
    width: 22%;
}

.logo-jquery {
    width: 23%;
}

.logo-figma {
    width: 20%;
}


.logo-link{
    width: 22%;
    transition: all 0.2 ease;
}
.logo-link:hover {
    transform: scale(1.2);
}

.logo-gato{
    width: 30%;
    transition: all 0.2 ease;
}
.logo-gato:hover {
    transform: scale(1.2);
}

.logo-face{
    width: 15%;
    transition: all 0.1 ease;
   
}

.logo-face:hover {
    transform: scale(1.1);
}

.logo-insta{
    width: 33%;
    position: relative;
    left: 100px;
    transition: all 0.1 ease;
}

.logo-insta:hover {
    transform: scale(1.1);
}

.contenedor-firma {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 200px;
}

.firma p {
    color: #FFFFFF;
    font-size: 16px;
    font-style: italic;

}

.firma a{
     text-decoration: none;
     color: #FFFFFF;
     font-weight: 700;
}

.firma a:hover {
    color: #fae277;
    text-decoration: none;
}

.contenedor-logos-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}


.logo-casa{
    width: 10%;
}
.logo-cel{
    width: 11%;
}
.logo-email{
    width: 34px;
    margin-left: 5.5px;
}
.logo-cuit{
    width: 38px;
    margin-left: 4px;
}
.logo-nacimiento{
    width: 33px;
    margin-left: 5px;
}
.logo-html{
    width: 23%;
}
.logo-css{
    width: 27%;
}
.logo-js{
     width: 23%;
}
.logo-bootstrap{
    width: 43%;
}
.logo-git{
    width: 26%;
}

.footer-logos{
    width: 100%;
    height: 200px;
    background-image: url(./imagenes/fondo-metal.jpg);
    background-repeat: no-repeat;
    background-size: 100% 300px; 
    margin-top: 100px;
}

.logo-scrum{
   width: 25%;
}

.logo-vue{
  width: 31%;
}



